In [50]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [55]:
per_fin = pd.read_csv("grable.csv")
bus_stats = pd.read_csv("black.csv")
cor_fin = pd.read_csv("parrino.csv")
con_bus = pd.read_csv("boone.csv")

In [52]:
per_fin.groupby(["SPC Sub Group"]).sum()

               TSA Net Units  TSA Net Sales
SPC Sub Group
Print                  120.0       10949.55
WileyPlus             9835.0      577818.69
eBooks                1399.0       54561.46

In [53]:
bus_stats.groupby(["SPC Sub Group"]).sum()

               TSA Net Units  TSA Net Sales
SPC Sub Group
Courseware            1181.0      157020.00
Print                  720.0       48259.32
WileyPlus             5591.0      419174.68
eBooks                1061.0       49764.16

In [56]:
cor_fin.groupby(["SPC Sub Group"]).sum()

               TSA Net Units  TSA Net Sales
SPC Sub Group
Print                  500.0       54182.09
WileyPlus             7146.0      499766.36
eBooks                2720.0      120098.96

In [57]:
con_bus.groupby(["SPC Sub Group"]).sum()

               TSA Net Units  TSA Net Sales
SPC Sub Group
Print                 1049.0       93499.52
WileyPlus             8168.0      550310.32
eBooks                2923.0      146490.36
eProduct               -30.0       -1764.00