In [1]:
# Load the pandas and numpy packages
import pandas as pd
import numpy as np

In [2]:
# Create dataframe with pandas DataFrame() constructor
dataframe = pd.DataFrame(
   data=[ ['abc', 3.3, 28, True],
          ['xyz', -.55, 0, False] ], 
   columns=['Label1', 'Label2', 'Label3', 'Label4'],
   index=[0, 1] )

In [3]:
# Display the dataframe
dataframe

  Label1  Label2  Label3  Label4
0    abc    3.30      28    True
1    xyz   -0.55       0   False

In [4]:
# Display the dataframe's shape
dataframe.shape

(2, 4)

In [5]:
# Create an array
array = np.array(
   object=[ [ [1, 2, 3], [4, 5, 6] ], 
            [ [11, 12, 13], [14, 15, 16] ] ] )

In [6]:
# Returns the array's shape
array.shape

(2, 2, 3)