In [1]:
# Load libraries
import pandas as pd
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [3]:
# Loads the rent.csv dataset and uses the following feature:
# beds, baths, sqft, nhood, city, county, address, and price
rent = pd.read_csv('rent.csv')
rent = rent[['beds','baths','sqft','price']]
rent_features = rent[['beds','baths','sqft']]

In [18]:
# Displays the number of non-missing values for each feature
rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200796 entries, 0 to 200795
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   beds    194188 non-null  float64
 1   baths   42675 non-null   float64
 2   sqft    64679 non-null   float64
 3   price   200796 non-null  int64
dtypes: float64(3), int64(1)
memory usage: 6.1 MB

In [19]:
# Counts the number of missing values for each feature
rent.isnull().sum()

beds       6608
baths    158121
sqft     136117
price         0
dtype: int64

In [26]:
rent.sample(n=5)

        beds  baths    sqft  price
44526    4.0    2.0  2000.0   2500
31260    5.0    NaN     NaN   3200
10252    3.0    NaN   935.0   3895
177336   5.0    NaN  3500.0   2400
187542   1.0    1.0     NaN    960

In [32]:
df.describe()

                beds         baths           sqft          price
count  194188.000000  42675.000000   64679.000000  200796.000000
mean        1.889025      1.679086    1201.827688    2135.362746
std         1.079138      0.690509    5000.217864    1427.747903
min         0.000000      1.000000      80.000000     220.000000
25%         1.000000      1.000000     750.000000    1295.000000
50%         2.000000      2.000000    1000.000000    1800.000000
75%         3.000000      2.000000    1360.000000    2505.000000
max        12.000000      8.000000  900000.000000   40000.000000

In [52]:
d = {'': ['mean','median','mode'], 'beds': [df.beds.mean(), df.beds.median(), df.beds.mode()[0]], 'baths': [df.baths.mean(), df.baths.median(), df.baths.mode()[0]], 'sqft': [df.sqft.mean(), df.sqft.median(), df.sqft.mode()[0]],'price': [df.price.mean(), df.price.median(), df.price.mode()[0]]}

In [53]:
df2 = pd.DataFrame(data=d)

In [56]:
df2.set_index('')

            beds     baths         sqft        price

mean    1.889025  1.679086  1201.827688  2135.362746
median  2.000000  2.000000  1000.000000  1800.000000
mode    2.000000  1.000000  1000.000000  1200.000000

In [51]:
df2

       beds     baths         sqft        price
0  1.889025  1.679086  1201.827688  2135.362746
1  2.000000  2.000000  1000.000000  1800.000000
2  2.000000  1.000000  1000.000000  1200.000000

In [59]:
test = np.around(df2, decimals=1, out=None)

In [97]:
print(test.set_index(''))

        beds  baths    sqft   price

mean     1.9    1.7  1201.8  2135.4
median   2.0    2.0  1000.0  1800.0
mode     2.0    1.0  1000.0  1200.0

In [98]:
print(rent)

        beds  baths    sqft  price
0        2.0    2.0     NaN   1250
1        2.0    NaN     NaN   1295
2        2.0    NaN     NaN   1100
3        1.0    NaN   735.0   1425
4        1.0    NaN     NaN    890
...      ...    ...     ...    ...
200791   2.0    NaN     NaN   1850
200792   2.0    NaN     NaN   1950
200793   2.0    2.0  1300.0   2600
200794   2.0    NaN  1000.0   1900
200795   2.0    NaN     NaN   1650

[200796 rows x 4 columns]

In [27]:
imp_mean = IterativeImputer(random_state=0, max_iter=2)

In [28]:
imp_mean.fit(rent_features)

/Users/cjschan/opt/anaconda3/lib/python3.9/site-packages/sklearn/impute/_iterative.py:699: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

IterativeImputer(max_iter=2, random_state=0)

In [29]:
imp_mean.transform(rent_features)

array([[   2.        ,    2.        ,  588.71461134],
       [   2.        ,    1.56422423, 1150.99078505],
       [   2.        ,    1.56422423, 1150.99078505],
       ...,
       [   2.        ,    2.        , 1300.        ],
       [   2.        ,    1.63480985, 1000.        ],
       [   2.        ,    1.56422423, 1150.99078505]])

In [30]:
print(pd.DataFrame(imp_mean.transform(rent_features),columns=['beds','baths','sqft']))

        beds     baths         sqft
0        2.0  2.000000   588.714611
1        2.0  1.564224  1150.990785
2        2.0  1.564224  1150.990785
3        1.0  0.956357   735.000000
4        1.0  1.235534   137.809927
...      ...       ...          ...
200791   2.0  1.564224  1150.990785
200792   2.0  1.564224  1150.990785
200793   2.0  2.000000  1300.000000
200794   2.0  1.634810  1000.000000
200795   2.0  1.564224  1150.990785

[200796 rows x 3 columns]

In [31]:
imp_mean.n_iter_

2